<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
            <a class="navbar-brand" href="#">iLoveMyCity</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="/Berlin">Berlin</a></li>
                <li><a href="/Paris">Paris</a></li>
                <li><a href="/Madrid">Madrid</a></li>
                <li><a href="/London">London</a></li>
                <li><a href="/Newyork">Newyork</a></li>
            </ul>
        </div>
    </div>
</nav>